/* #af4c4c*/
nav {
	
	position: fixed;
	top: 0;
	text-align: center;
	display: inline-block;
	
	z-index:10; 
	width:100%;

	

	

}
a { color:white; } 
nav ul {
list-style-type: none;
margin: 0;
padding: 0;
font-family: Sans-serif;
border-radius: 5px;



}
.test {
	text-align: center;
	display: inline-block;
}

nav li{

	display: inline;
	font-size: 25px;
	color:white;
	
	text-align: center;
	 text-shadow: 2px 2px 2px #000000;
}#af4c4c
.nav  a:hover:not(.active) {
	background-color: #178a94;
}
.active {
    background-color: #af4c4c;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0.1);
    
}
li {
    float: left;
}

.header {
	padding-top:300px;
	color:#FFFFFF;
	text-align: center;
	font-size: 30px;
	font-family: Sans-serif;
	text-shadow: 2px 2px 2px #000000;

}
.buttonclass {
	width:100%;
	display:inline-block;
	text-align: center;
}
.button1 {
	background-color:#af4c4c;

	text-shadow: 2px 2px 2px #000000;
	margin-top:10%;
	margin-bottom: 10%;
	
	color:white;
	text-align: center;
	font-size:30px;
	border-radius: 5px;
	padding :10px;
	width:400px;
	border:none;
	transition: all 0.5s;
 	 cursor: pointer;
  	

	
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-align: center;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
h3 {
	background-color:white;
	width:100%;
	padding-top: 50px;
	height:50%;
	margin:0;
	margin-top: 20px;
	float:left;
	
	
	


}
.words1 {
font-family: sans-serif;
	font-size:17px;
	display:inline-block;
	padding-left:10%;
	text-align: center;
	max-width: 20%;
	min-width:20%;
	

}
.words2 {
font-family: sans-serif;
	font-size:17px;
	display:inline-block;
	padding-left:10%;
	text-align: center;
	max-width: 20%;
	min-width:20%;
	
}
.words3 {
font-family: sans-serif;
	font-size:17px;
	display:inline-block;
	padding-left:10%;
	text-align: center;
max-width: 20%;
min-width:20%;

}
body {
	margin:0;
}
footer{
	background-color: #af4c4c;
	height:100%;
	color:white;

	font-family: sans-serif;
	text-align: center;
	padding-top: 100px;
	float:left;
	width:100%;


}
.footernotes {
	text-align: center;
	display: inline-block;

}
footer .location, .hours, .contact {
	
	float:left;
	width:300px;
	margin:5px;

}